<html>

<head>
    <title>{{ username }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{ username }}</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="{{ url_for('logout') }}">Log out</a>
            </li>
        </ul>
    </nav>
    <div class='container'>
        <p>{{ msg }}</p>
        <table class="table table-striped">
            <thead>
                <th>
                    <p>Usernames</p>
                </th>
                <th>
                    <p>Passwords</p>
                </th>
                <th>
                    <p>Options</p>
                </th>
            <thead>
            <tbody>
                {%for i in range(0, len)%}
                <tr>
                    <td>
                        <p>{{accounts[i]['username']}}</p>
                    </td>
                    <td>
                        <button class="btn-hidden-toggle" onclick="showHidePassword( {{ i }} )" id="button_{{i}}">
                            <i>Show Password</i>        
                        </button>
                        <p class="password-hidden" id="password_{{i}}">{{accounts[i]['password']}}</p>
                    </td>
                    <td>
                        <i><a href="{{ url_for('delete', username=accounts[i]['username'])}}">Delete</a></i>
                    </td>
                </tr>
                {%endfor%}
                <form action="{{ url_for('admin') }}" method="POST">
                    <tr>
                        <td>
                            <input type="text" name='username' width="80%" required>
                        </td>
                        <td>
                            <input type="password" name='password' width="80%" required>
                        </td>
                        <td>
                            <button type='submit' class="btn btn-primary">Add</button>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
        <a href="{{ url_for('logout') }}">
            <button type="button" class="btn btn-secondary">
                Log out!
            </button>
        </a>
    </div>
<script>
    function showHidePassword(i){
        $(`#password_${i}`).toggleClass("password-hidden")
        console.log($(`#button_${i}`).text())
        if ($(`#button_${i}`).text().includes("Show"))
            $(`#button_${i}`).text("Hide Password")
        else 
            $(`#button_${i}`).text("Show Password")
    }
</script>
</body>

</html>