<html>

<head>
    <title>{{ username }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('doctor') }}">Viewer</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">Browser<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{{ url_for('logout') }}">Log out</a>
            </li>
        </ul>
    </nav>
    <div class='container'>
        <div class='row'>
            <div class="col-md-6 left">

            </div>
            <div class='col-md-6 right'>
                <h2>Diabetic retinopathy: {{ predict }}%</h2>
                <br>
                <div class="img-zoom-container">
                    <img src="{{ image }}" id='myimage'>
                    <div id="myresult" class="img-zoom-result"></div>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        imageZoom("myimage", "myresult");
    </script>
</body>

</html>