<html>

<head>
    <title>{{ username }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doctor.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Viewer</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="{{ url_for('browser') }}">Browser<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{{ url_for('logout') }}">Log out</a>
            </li>
        </ul>
        <h3 class="navbar-text" style="color: black;">
            Case {{ patientID }}
        </h3>
    </nav>
    <!-- Viewer -->
    <div class='container'>
        
        <div class='row'>
            <div class="col-md-5 left">
                <div class="img-zoom-container">
                    <img src="{{ image }}" id='myimage_1'>
                    <div id="myresult_1" class="img-zoom-result"></div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class='col-md-5 right'>
                <div class="img-zoom-container">
                    <img src="{{ image }}" id='myimage_2'>
                    <div id="myresult_2" class="img-zoom-result"></div>
                </div>
            </div>
        </div>
        <h2>Diabetic retinopathy: {{ predict }}</h2>
        <form action="{{ url_for('doctor', id=patientID) }}" method="POST">
            <input type="text" name='diagnosis' placeholder="Your diagnosis here..." size="100" required>
            <button class='btn btn-outline-success' type="submit">Submit</button>
        </form>
    </div>
    <!-- Image Processing Options -->
    <div class="container">
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <a class="navbar-brand" href="#">Image Processing Options</a>

            <ul class="nav navbar-nav">
                <form class="navbar-form navbar-left" role="search">
                    <div class="checkbox navbar-btn">
                        <label class="navbar-link" >
                            <input type="checkbox" class="autosubmit" value="true" name="log-trans">
                            Log transform
                        </label>
                    </div>
                </form>
                <form class="navbar-form navbar-left" role="search">
                    <div class="checkbox navbar-btn">
                        <label class="navbar-link" >
                            <input type="checkbox" class="autosubmit" value="true" name="to-negative">
                            To negative
                        </label>
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Noise reduce
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="checkbox navbar-btn">
                                <label class="navbar-link" >
                                    <input type="checkbox" class="autosubmit" value="true" name="high-pass">
                                    High pass filter
                                </label>
                            </div>
                        </form>
                        <div class="dropdown-divider"></div>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="checkbox navbar-btn">
                                <label class="navbar-link" >
                                    <input type="checkbox" class="autosubmit" value="true" name="laplacian">
                                    Laplacian
                                </label>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gauss-noise
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <input class="form-control mr-sm-2 slider" type="range" min=1 max=9 name='gauss-noise' value=1>
                        <label for="gauss-noise">Odd numbers < 10
                        </label>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
             <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gamma transform
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <input class="form-control mr-sm-2 slider" type="range" min=0.1 max=3 name='gamma' value=1>
                        <label for="gamma">Input from 0.1 to 3</label>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Intensity Slicing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <input class="form-control mr-sm-2 slider" type="range" min=0 max=255 name="min-value" value=0>
                        <label for="min-value">Min value(min is 0)</label>
                        <div class="dropdown-divider"></div>
                        <input class="form-control mr-sm-2 slider" type="range" name="max-value" min=0 max=255 value=0>
                        <label for="max-value">Max value(max is 255)</label>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bit plane Slicing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <input class="form-control mr-sm-2 slider" type="range" min=0 max=7 name='bit-plane-slicing' value=0>
                        <label for="bit-plane-slicing">Input from 0-7</label>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sharpening
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><input class="autosubmit" type="checkbox"
                                name="kernel-1">Kernel 1</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><input class="autosubmit" type="checkbox"
                                name="kernel-2">Kernel 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><input class="autosubmit" type="checkbox"
                                name="kernel-3">Kernel 3</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        imageZoom("myimage_1", "myresult_1");
        imageZoom("myimage_2", "myresult_2");
    </script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>