.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: .125rem;
}
button{
  margin-top:3px
}